body {
  background-color: #f2f0ef;
  font-family: "Google Sans";
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  box-sizing: border-box;
  padding: 40px;
}

.bookshelf {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  gap: 20px;
  justify-content: center;
}

.book {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  background-color: chocolate;
  padding: 20px;
  height: 200px;
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.25);
}

.title {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 10px 0;
}

.author {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.book-actions {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

button {
  display: flex;
  align-items: center;
  cursor: pointer;
}
